/*=========================================*/
            /*Base Elements Style*/
/*=========================================*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Black Ops One', cursive, sans-serif;
    line-height: 1.6;
}

input,
textarea {
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
}

textarea {
    height: 150px;
    width: 400px;
    resize: none;
}




ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.col p {
    font-size: 19px;
}

/*COLORS*/

body {
    background-color: #F2A30F;
}

h1,
h2 {
    color: #2474A6;
    text-shadow: 2px 2px 2px #000;
}

a,
p {
    color: #222;
    text-decoration: none;
}

.banner p,
.banner h1 {
    color: #F2A30F;
}

.main-header h1,
.main-header a {
    color: #222;
}


/*=========================================*/
                /*NAVBAR*/
/*=========================================*/


.name {
    font-size: 25px;
    margin: 0;
}
.main-nav {
    margin-top: 5px;
}
.name a,
.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.main-nav a {
    font-size: 18px;
    text-transform: uppercase;
}


/*=========================================*/
                /*HEADER*/
/*=========================================*/

.banner {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: linear-gradient(#F2A30F, transparent 10%),
                      linear-gradient(0deg, #F2A30F, transparent 5%),
                      url(../img/jumbo.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner h1 {
    font-size: 30px;
    margin-left: 30px;
}

.banner p {
    font-size: 25px;
    margin-left: 50px;
}

.banner h1,
.banner p {
    font-weight: bold;
    text-shadow: 0 1px 0 #222,
                 0 2px 0 #222,
                 0 3px 0 #222,
                 0 4px 0 #222,
                 0 5px 0 #222,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

#section03 {
    visibility: hidden;
}


/*=========================================*/
                /*About*/
/*=========================================*/

.admission {
    text-align: center;
    font-size: 40px;
    margin: 25px 0;
}

.myphoto {
    border-radius: 30px 10px;
}

.main-about {
    display:block;
    text-align: center;
}

.main-about img,
.main-about p {
    margin: 20px 0;
}


/*=========================================*/
                /*SKILLS*/
/*=========================================*/

.main-skills {
    display:block;
    text-align: center;
}

.col {
    margin-top: 40px;
}



/*=========================================*/
                /*PROJECTS*/
/*=========================================*/

.github {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(#F2A30F, transparent 5%),
                      linear-gradient(0deg, #F2A30F, transparent 5%),
                      linear-gradient(90deg, #F2A30F, transparent 5%),
                      linear-gradient(270deg, #F2A30F, transparent 5%),
                      url(../img/github.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#projects .admission {
    margin-top: 50px;
    margin-bottom: -5px;
}

/*=========================================*/
                /*CONTACT*/
/*=========================================*/

.main-contact .send {
    display: block;
    text-align: center;
}

/*=========================================*/
                /*FORM*/
/*=========================================*/

#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 20px 'Black Ops One', cursive, sans-serif;
    border-radius: 5px;
}

#contact form {
	background: #F2A30F;
	padding:0;
	margin:0 20px;
    text-align: center;
}

#contact h3 {
	color: #E00B27;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
    color: #E00B27;
	margin:5px 0 15px;
	display:block;
	font-size:17px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width:100%;
	border:1px solid #EBF4F7;
	background:#2474A6;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #F2A30F;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: #2474A6;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#E00B27;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

::-webkit-input-placeholder {
 color:#EBF4F7;
}
:-moz-placeholder {
 color:#EBF4F7;
}
::-moz-placeholder {
 color:#EBF4F7;
}
:-ms-input-placeholder {
 color:#EBF4F7;
}

#contact img {
    margin: 10px;
}

#contact img:hover {
    transition:border-color 0.3s ease-in-out;
    border-radius: 50%;
    border: 3px solid #2474A6;
}

/*=========================================*/
                /*FOOTER*/
/*=========================================*/

footer p {
    padding-top: 20px;
    margin-left: 25px;
}


/*=========================================*/
                /*Media Quaries*/
/*=========================================*/


@media (min-width: 768px) {
    
    /*    BASIC   */
    
    .name {
	   font-size: 40px;
	   margin: 0;
    }
    .main-nav a {
	   font-size: 20px;
    }
    
    .main-header,
    .main-nav,
    .main-about,
    .main-skills,
    .main-contact
    {
        display: flex;
        
    }
    
    /*    NAVBAR   */
    
    .main-header {
        flex-direction: column;
        align-items: center;
    }
    
    /*    BANNER   */
    
    .banner {
        background: linear-gradient(#F2A30F, transparent 10%),
                    linear-gradient(0deg, #F2A30F, transparent 5%),
                    url(../img/jumbo.jpeg);
        background-size: 100% 100%;
    }
    
    .banner h1 {
        font-size: 40px;
        margin-left: 30px;
    }

    .banner p {
        font-size: 35px;
        margin-left: 150px;
    }
    
    /*    ABOUT    */
    
    .main-about {
        align-items: center;
    }
    
    .main-about p {
        margin-top: -30px;
    }
    
    .col {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        flex: 1 33%;
    }
    
    .send {
        flex: 1;
    }
    
    #contact form {
        margin-top: -15px;
        padding-top: 0;
    }
    
    .col p {
        font-size: 17px;
    }
    
    .main-about,
    .main-skills {
        flex-wrap: wrap;
    }
    
     .secondary {
        margin-left: -20px;
    }
    
    /*    SKILLS    */
    
    .main-skills .col,
    .main-contact {
        flex-direction: row;
        align-items: flex-start;
    }
}



@media (min-width: 1025px) {
    
    /*    BASIC   */
    .name {
	   font-size: 30px;
	   margin: 0;
    }
    .main-nav a {
	   font-size: 18px;
    }
    
    .admission {
        font-size: 40px;
        margin-bottom: 50px;
    }
    
    /*    NAVBAR   */
    
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .main-nav {
        margin-right: 50px;
    }
    
    .main-header h1 {
        margin-left: 50px;
    }
    
    
    /*    BANNER   */
    
    .banner {
        padding-top: 200px;
        padding-bottom: 200px;
        background: linear-gradient(#F2A30F, transparent 10%),
                    linear-gradient(0deg, #F2A30F, transparent 5%),
                    url(../img/jumbo.jpeg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin:0;
        padding-top: 400px;
        padding-bottom: 400px;
    }

    .banner h1 {
        font-size: 60px;
        margin-left: 30px;
    }

    .banner p {
        font-size: 55px;
        margin-left: 260px;
    }
    
    /*    SCROLL*/
    
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
    
    
    
    
#section03 a {
  padding-top: 60px;
    visibility: visible;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*    ABOUT    */
    
    .col {
        flex-basis: 0;
    }
    
    .secondary,
    .tertiary {
        justify-content: center;
    }
    
    .secondary {
        margin-left: -50px;
        margin-right: 25px;
    }
    
    .tertiary {
        margin-right: 30px;
    }
    
    /*    SKILLS    */
    
    .main-skills .col {
        flex: 1 20%;
        align-items: center;
    }
    
    .col p {
        font-size: 20px;
    }
    
    /*    PROJECTS    */
    
    .github {
        background-size: 50% 80%;
    }
}




















